body{
    background-color: beige;
}

h1{
    color: cornflowerblue;
    transition: color .5s ease-in;
}

.clicked{
    color: tomato;
}
.normal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}